<hr>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Catalogo</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Libro</th>
            <th>Isbn</th>
            <th>Precio</th>
            <th>Agregar/Quitar</th>
            <th>Cantidad</th>
            <th>Disponible</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>El Principito</td>
            <td>12344321</td>
            <td>$45</td>
            <td><button type="button" class="btn btn-sm btn-success">Agregar</button>
                <button type="button" class="btn btn-sm btn-danger">Quitar</button></td>
            <td><h4><span class="label label-info">0</span></h4></td>
            <td><h4><span class="label label-info">3</span></h4></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Guerra de los mundos</td>
            <td>12344321</td>
            <td>$70</td>
            <td><button type="button" class="btn btn-sm btn-success">Agregar</button>
                <button type="button" class="btn btn-sm btn-danger">Quitar</button></td>
            <td><h4><span class="label label-info">0</span></h4></td>
            <td><h4><span class="label label-info">5</span></h4></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nacidos de la bruma</td>
            <td>12344321</td>
            <td>$105</td>
            <td><button type="button" class="btn btn-sm btn-success">Agregar</button>
                <button type="button" class="btn btn-sm btn-danger">Quitar</button></td>
            <td><h4><span class="label label-info">0</span></h4></td>
            <td><h4><span class="label label-info">7</span></h4></td>
        </tr>
        </tbody>
    </table>
</div>


<input type="month" id="inputUsuario" class="form-control" placeholder="Usuario" required autofocus>
