<nav class="navbar navbar-inverse">
    <div class="container">
        <form class="navbar-form navbar-right">
            <div class="form-group">
              {{input type="text" class="form-control" value=usuario placeholder="Usuario"}}
            </div>
            <div class="form-group">
              {{input type="password" class="form-control" value=password placeholder="Password"}}
            </div>
            <button {{action 'loguearCliente'}} type="submit" class="btn btn-success">Sign in</button>
        </form>
        <div class="navbar-header">
            <a class="navbar-brand">{{#link-to 'home.news'}}<strong>TUS LIBROS</strong>{{/link-to}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'home.login'}}Login{{/link-to}}</li>
                <li>{{#link-to 'home.libro'}}Catalogo{{/link-to}}</li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="starter-template">
      <div class="col-md-12">
      {{outlet}}
          <footer>
              <hr>
              <p>&copy; 2016 | 10Pines, Inc. (By Kevin Varela)</p>
          </footer>
      </div>
    </div>
</div><!-- /.container -->
